.submission-wrapper{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 5rem;
    .nav-info a{
        text-decoration: none;
        color: var(--ion-color-dark);
    }
    .nav-info-header{
        display: flex;
        justify-content: space-between;
    }
    .submission-info-container{
        display: flex;
        .short-info-container{
            padding: 1rem 2rem;
            & > h1{
                margin-top: 0;
            }
            & > p{
                max-width: 480px;
            }
        }
    }
    .idea-teammate-steps{
        display: flex;
        .idea-teammate{
            max-width: 35rem;
        }
        .the-idea p {
            margin-top: 1.8rem;
            font-size: 17px;
            letter-spacing: 0.46px;
            line-height: 22px;
        }
        .teammate{
            position: relative;
            margin-top: 4.6rem;
            & > h1{
                margin-bottom: 0;
            }
            .teammate-head{
                & > ion-fab{
                    margin-inline-start: 6rem;
                }
            }
            .teammate-container{
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                .team-member{
                    margin-top: 1.6rem;
                    width: 150px;
                    text-align: center;
                }
            }
            
        }

        .steps{
            position: relative;
            margin-left: 5.6rem;
            margin-top: 5.6rem;
            .steps-container{
                position: relative;
                &::before{
                    content: '';
                    width: 1px;
                    border-right: 1px dashed black;
                    position: absolute;
                    left: 1.8rem;
                    top: 1.4rem;
                    z-index: -1;
                    height: 80%;
                }
            }
            
            .step{
                display: flex;
                margin-bottom: 3.45rem;
                .circle{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 3.7rem;
                    height: 3.7rem;
                    border-radius: 100%;
                    background-color: var(--ion-color-primary);
                    p{
                        margin: 0;
                        font-size: 22px;
                        font-weight: bold;
                    }
                }
                & > p{
                    margin-top: 0.4rem;
                    margin-left: 1.2rem;
                    font-size: 18px;
                    max-width: 18rem;
                    line-height: 23px;
                    letter-spacing: 0.2px;
                }
            }
        }
    }

    

}
.breadcrumbs {
    display: block;
    width: 100%;
}

.breadcrumbs .item {
    display: inline-block;
    width: auto;
}   
.page-breadcrumb .item-inner{border: 0px;}



// new css

.submission-wrapper .submission-info-container .short-info-container {
    padding-top: 0px;
}

.short-info-container h1 {
    font-family: Nixie One;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #143b6c;
}

.short-info-container p {
    font-family: ABeeZee;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #646464;
    margin-top: 0px;
    margin-bottom: 20px;
}

ion-item.item.md.in-list.ion-focusable.hydrated.item-label {
    color: #646464;
}

.breadcrumbs .item {
    text-transform: uppercase;
    font-size: 14px;
}

.item-native {
    border-width: var(--border-width);
    --inner-border-width: 0 0 1px 0;
    border-width: 0;
    border-width: 0;
}

.item-native {
    --inner-border-width: 0 0 0px 0;
}

.item-native {
    --inner-border-width: 0 0 0px 0;
}

ion-label.sc-ion-label-md-h.sc-ion-label-md-s.md.hydrated {
    color: #143b6c;
}

.breadcrumb-submission {}

.breadcrumb-submission ul {
    display: inline-block;
    list-style: none;
    padding: 0px;
}

.breadcrumb-submission ul li {
    display: inline-block;
    margin: 0px 30px 0px 0px;
    position: relative;
}

.breadcrumb-submission ul li a {
    text-decoration: none;
    color: #143b6c;
    text-transform: uppercase;
}

.breadcrumb-submission ul li:after {content: ">";position: absolute;right: -19px;color: #868686;}

.lisitng-submission-details p {
    margin-bottom: 0px;
    font-weight: bold;
    color: #313131;
}

.lisitng-submission-details p span {
    font-weight: 500;
}

.the-idea h1 {
    font-family: Nixie One;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #143b6c;
}

.the-idea {
    margin-top: 50px;
}

.submission-wrapper .idea-teammate-steps .the-idea p {
    font-family: ABeeZee;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #646464;
    margin-top: 0px;
    margin-bottom: 20px;
}

.breadcrumb-submission ul li:last-child:after {
    opacity: 0;
}

.breadcrumb-submission {
    margin-bottom: 30px;
}

.submission-wrapper .idea-teammate-steps .steps .step .circle {
    background-color: #143b6c;
    color: #fff;
}

.submission-wrapper .idea-teammate-steps .steps {
    margin-top: 50px;
}

.submission-wrapper {
    padding-top: 50px;
}
.my-custom-class-team-mate .modal-wrapper.sc-ion-modal-md {
    -webkit-transform: translate3d(0, 40px, 0);
    transform: translate3d(0, 40px, 0);
    opacity: 0.01;
    max-height: 283px;
    max-width: 600px;
}
ion-button.submit-button.md.button.button-solid.ion-activatable.ion-focusable.hydrated {
    margin: 31px 0 70px 13px;
}