.project-picture{
    width: 100%;
    min-height: 380px;
    object-fit: cover;
    max-height: 480px;
}
.challenges-list-header{
    display: flex;
    width: 400px;
    align-items: center;
    justify-content: space-between;
}

.challenge-modal-content{
    position: relative;
    overflow-y: scroll;
    padding: 1.25rem;
    padding-top: 0.5rem;
}
.proj-wrapper{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.submission-card{
    cursor: pointer;
}
.sc-ion-modal-md .ion-page {
    text-align: center;
}
.my-custom-class-trash .modal-wrapper.sc-ion-modal-md{max-height: 150px;}
.hidden{display: none !important;}
ion-fab.submittionadd-btn {
    margin-right: 70px;
}
.content.submission-modal-content {
    padding: 10px 30px;
}
.sbmt-btn{margin-top: 40px;}
.header {
    display: flex;
    flex-wrap: wrap;
}

.image-heading-and-contant {
    position: relative;
    background-color: #f3f3f3;
}

.image-heading-and-contant ion-card.top-banner-details {
    border: 0px none;
    margin: 0px;
    box-shadow: none;
}

ion-card-content.left-contant-details {
    width: 480px;
    position: absolute;
    top: 50px;
    background-color: #ccc;
    min-height: 290px;
    left: 50px;
    background: #fff;
    border-radius: 10px;
    padding: 20px 40px;
}

ion-card-content.left-contant-details h2 {
    font-family: Nixie One;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 52px;
/* or 217% */
    color: #646464;
}

ion-card-content.left-contant-details p {
    font-family: ABeeZee;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
/* or 157% */
    color: #646464;
}

ion-card-content.left-contant-details h3 {
    font-family: ABeeZee;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 52px;
/* or 289% */
    color: #646464;
}

.images-partner-parent {
    width: 200px;
    height: 60px;
    margin-right: 10px;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 4px;
}

.images-partner-parent img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.tabs-section {
    display: flex;
    padding: 20px 0px;
}

.tabs-section .tabs-heading {
    background-color: #c5dfff;
    padding: 0px;
    min-width: 220px;
    position: relative;
    text-align: center;
    height: max-content;
}

.tabs-section .tabs-heading:before {
    width: 40px;
    background-color: #143b6c;
    content: "";
    position: absolute;
    height: 61px;
    top: 0px;
    left: 0px;
    border-radius: 0px 30px 30px 0px;
}

.tabs-section .tabs-heading .tabs-contant {
    color: #143b6c;
    text-decoration: none;
    font-size: 15px;
    background-color: transparent;
    min-width: 220px;
    padding: 23px 0px;
}

.tabs-section .tabs-heading:hover {
    background-color: #fff;
}

.tabs-section div .tabs-heading:before {
    width: 40px;
    background-color: #143b6c;
    content: "";
    position: absolute;
    height: 61px;
    top: 0px;
    left: 0px;
    border-radius: 0px 30px 30px 0px;
}

.tabs-section .tabs-heading:hover {
    background-color: #143b6c;
}

.tabs-section .tabs-heading:hover button.tabs-contant {
    color: #fff;
}

.tabs-section .tabs-heading .tabs-contant:focus {
    outline: none;
}

.top-part-contant h1 {
    font-family: Nixie One;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 32px;
    color: #143b6c;
    margin-top: 0px;
    margin-bottom: 20px;
}


.tabs-section p {
    font-family: ABeeZee;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #646464;
}

.top-part-contant p {
    font-family: ABeeZee;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #646464;
}
.all-details-part {
    margin-top: 50px;
    margin-bottom: 30px;
    padding-right: 50px;
}
.video-list {
    margin-bottom: 20px;
}
.all-details-part p{
font-size: 14px;
}
.prizes-part {
    margin-top: 50px;
}
.prizes-part h5 {
    font-size: 14px;
    color: #646464;
}

.prizes-part h2, .list_inner h2, .judges h2 {
    font-family: Nixie One;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 52px;
    color: #143b6c;
    position: relative;
    margin: 30px 0px;
    background-color: #fff;
    overflow: hidden;
}

.prizes-part h2:after, .list_inner h2:after, .judges h2:after {
    content: "";
    position: absolute;
    width: 100%;
    background-color: #e0e0e0;
    height: 1px;
    top: 50%;
}

.prize_list {
    display: inline-block;
    width: 100%;
}
.prize_list div {
    float: left;
    width: 50%;
}

.prize_list div p {
    padding-right: 30px;
    font-size: 14px;
}

.prize_list div h3 {
    font-size: 16px;
    font-weight: 500;
    color: #143b6c;
}
.prize_list div h3 span {
    color: #ffd333;
    float: left;
    margin-right: 2px;
    font-size: 40px;
    height: 23px;
    margin-top: -5px;
}
.list_inner {
    margin-top: 50px;
}
.list_inner p {
    margin: 20px 0;
}
.list_inner  ul {
    padding: 0 0 0 15px;
    margin-bottom: 0;
}
.list_inner ul li {
    font-family: ABeeZee;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #646464;
}

.judges ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    display: inline-block;
    margin: 0;
}

.judges ul li {
    float: left;
    display: flex;
    width: 50%;
    margin-top: 30px;
}

.judges ul li img {
    float: left;
    width: 65px;
    height: 65px;
}
.judges h2 {
    margin: 0;
}

.judges ul li span {
    margin-left: 15px;
    font-family: ABeeZee;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #646464;
}

.judges ul li span b {
    font-size: 16px;
}

.judges ul li span i {
    display: block;
    font-size: 14px;
    padding-right: 25px;
}
.judges {
    margin-top: 50px;
}
.list_inner.judging_criteria ul {
    margin-top: 30px;
    margin-bottom: 50px;
}
.edtion_main_section {
    display: inline-block;
    width: 100%;
}
.edtion_main_section .content_part {
    float: left;
    width: 70%;
}
.edtion_sidebar {
    float: right;
    width: 30%;
    margin-top: 140px;
}
.edtion_child {
    border: 1px solid #DCE6E9;
    background: #eceff3;
    padding: 30px 0;
    border-radius: 3px;
    box-shadow: 0 4px 4px 0 #0000000f;
    margin-bottom: 30px;
}
.winner_announc {
    display: inline-block;
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
}
.winner_announc span {
    font-size: 14px;
    float: left;
}
.winner_announc span b {
    display: block;
    margin-top: 5px;
}
.winner_announc a {
    float: right;
    font-size: 12px;
    margin: 0 0;
    text-decoration: none;
    color: #ffffff;
    background: #265eac;
    font-weight: bold;
    padding: 8px 10px;
    border-radius: 3px;
}
.iconlist_sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.iconlist_sidebar ul li {
    margin-top: 15px;
}

.iconlist_sidebar ul li a {
    text-decoration: none;
    color: #265eac;
}

.card-for-btn{
    padding: 0px;
    color: #fff;
    text-align: center;
    margin: 0 auto 20px auto;
    cursor: pointer;
    border-radius: 3px;
}

.card-for-btn ion-button {
    --background: #265eac;
    --color: var(--ion-color-primary-contrast, #fff);
    --box-shadow: none;
    height: 50px;
    margin: 0px;
    width: 100%;
}

.card-for-btn a{
    color: #fff; 
    text-transform: uppercase;
}

.left-days.details-page-leftdays {
    display: inline-block;
}

.iconlist_sidebar {
    padding: 0px 15px;
}

ion-button.go-back {
    background-color: #265eac;
    border-radius: 4px;
    color: #fff;
    padding: 0px 20px;
    margin-bottom: 10px;
}

.right-sidebar.details-Criteria span.Criteria-lisitng {
    padding: 5px 15px;
    border-radius: 2px;
    margin-left: 80px;
    margin-top: -40px;
}


.details-social-icon {
    padding: 0px 15px;
}

.details-social-icon h2 {
    font-size: 18px;
    color: #000000;
    position: relative;
    margin-top: 0px;
}

.details-social-icon ul {
    list-style: none;
    padding: 0px;
    display: flex;
    margin-bottom: 0px;
}

.details-social-icon ul li {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #143b6c;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
}

.details-social-icon ul li a {
    align-items: center;
    justify-content: center;
    display: flex;
    color: #fff;
}

.details-social-icon ul li:hover {
    background-color: #265eac;
}

.edtion_main_section .content_part .text-align-start {
    display: none;
}

// submission tab
.submission-listing {
    display: flex;
    margin-right: 50px;
    margin-top: 40px;
}

.left-image-submission {
    flex: 0 0 50%;
}

.right-contant-submission {
    flex: 0 0 50%;
    padding: 0px 30px;
}

.sponsors-challenge {
    display: flex;
}

.sponsors-main, .challengers-main {flex: 0 0 30%;margin-right: 20px;}

.sponsors-main h4, .challengers-main h4 {
    font-family: ABeeZee;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    color: #646464;
}

.challengers-main {}

.left-image-submission {}

.left-image-submission img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.right-contant-submission h3 {
    font-family: ABeeZee;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #646464;
    margin: 30px 0px 0px 0px;
}

.right-contant-submission ul {
    list-style: none;
    padding: 0px;
}

.right-contant-submission ul li {
    font-family: ABeeZee;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #646464;
}


.challanges-listing {
    width: 70%;
    border: 1px solid #eceff3;
    background-color: #c5dfff;
    position: relative;
    min-height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 20px;
    border-radius: 10px;
    margin-top: 35px;
    padding: 20px 30px;
}

.amount-main {
    display: inline-block;
    margin-top: 10px;
}

.chanlanges-titles {
    /* display: inline-block; */
    width: calc(100% - 150px);
}

.chanlanges-titles h1 {
    font-size: 20px;
    margin-top: 0px;
}

.chanlanges-titles p {
    font-size: 14px;
    margin: 5px 0px 0px 0px;
}

.amount-main:before {width: 0;height: 0;border-top: 90px solid transparent;border-left: 100px solid #ffffff;border-bottom: 90px solid transparent;position: absolute;z-index: 0;left: -1px;opacity: 0;}

.amount-main h5, .amount-main h1 {
    z-index: 99999;
    margin: 0px;
}

// .challanges-listing:before {
//     content: "";
//     width: 0;
//     height: 0;
//     border-top: 90px solid transparent;
//     border-left: 140px solid #143b6c;
//     border-bottom: 90px solid transparent;
//     position: absolute;
//     left: -1px;
// }

.amount-main h1 {
    font-size: 40px;
    color: #fff;
    line-height: 40px;
}

.amount-main h5 {
    margin-bottom: 8px;
    font-size: 14px;
    color: #fff;
}

.chanlanges-titles h1 {
    color: #143b6c;
    margin: 0px;
}

.chanlanges-titles p {
    color: #143b6c96;
}

a.btn.view-details-btn {
    font-size: 12px;
    margin: 0 0;
    text-decoration: none;
    color: #ffffff;
    background: #265eac;
    font-weight: bold;
    padding: 8px 30px;
    border-radius: 3px;
}

.card-for-btn  .add-judges{margin-top: 10px;}
.card-for-btn ion-button ion-label.sc-ion-label-md-h.sc-ion-label-md-s.md.hydrated {
    color: #fff;
}

.logo-challanges {
    width: 170px;
    margin-right: 20px;
    margin-left: 0px;
}

.chanlanges-titles h1 span {
    font-size: 14px;
}
