
ion-item.table-header {
    background-color: #143b6c;
    --background: var(--ion-item-background, var(--ion-background-color, #fff));
    background: var(--ion-item-background, var(--ion-background-color, #fff));
    --background: var(--ion-item-background, var(--ion-background-color, #fff));
    --background: var(--ion-item-background, var(--ion-background-color, #fff));
}

ion-item.table-header {}

ion-item.table-header ion-label.sc-ion-label-md-h.sc-ion-label-md-s.md.hydrated {
    background-color: #143b6c;
    color: #fff;
    padding: 10px 20px;
    margin: 0px;
}

.item-native {
    --border-width: 0;
    border-width: var(--border-width);
}

ion-label.sc-ion-label-md-h.sc-ion-label-md-s.md.hydrated {
    color: #143b6c;
    padding: 0px 20px;
}

p.no-scores {
    background-color: #eaeaea;
    padding: 10px 20px;
    color: #000;
    text-align: center;
}